@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    padding: 20px;
    background-color: var(--accent1-color);

}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
  position:absolute;
}

nav {
	text-align: right;
}
#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

:root {
    --primary-color: #274029;
    --secondary-color: #315C2B;
    --accent1-color: #60712F;
    --accent2-color: #9EA93F;
  
    --heading-font: 'Oswald', sans serif;
    --paragraph-font: 'Oswald', sans serif;
  
    --nav-background-color: #274029;
    --nav-link-color: #315C2B;
    --nav-hover-link-color: #60712F;
    --nav-hover-background-color: #9EA93F;
  }

  .hero img {
    display: block;
     width: 100%;
     height: auto;
     float:right;
     opacity: 20;
 }

  .navigation-bar {
    grid-column: 2;
  }

  .image-row {
    display: inline;
  }
  .row {
    display: flex;
  }
  

  input[type=“submit”] {
    display: block;
    width: 60%;
    }

    table, td {
      border: 1px solid #333;
      border-collapse: collapse;
    }
    
    thead, tfoot {
       background-color: #333;
       color: #fff;
    }
    
    th, td {
      padding: 0.5rem;
    }
    
    caption {
        font-weight: 700;
        font-size: smaller;
        color: navy;
        font-variant: small-caps;
    }
    body {
      background-color: beige;
      ;
    }

    /* container */
.two-columns-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
  padding:1rem;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  size:1000px;
}