@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
a {
    text-decoration: none;
  }
:root {
    --primary-color: #274029;
    --secondary-color: #315C2B;
    --accent1-color: #60712F;
    --accent2-color: #9EA93F;
  
    --heading-font: 'Oswald', sans serif;
    --paragraph-font: 'Oswald', sans serif;
  
    --nav-background-color: #274029;
    --nav-link-color: #315C2B;
    --nav-hover-link-color: #60712F;
    --nav-hover-background-color: #9EA93F;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font) ;
    color: var(--primary-color) ;
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
 }
 p {
    padding: 25px;
 }
 .hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
}

article {
    position: absolute;
    
}
